<head>
    <title>Pita</title>
    <link rel='stylesheet' href='../stylesheets/stylenoir.css' />
</head>
<body style="background-image:url('../../images/bg-black.jpg')" >
    <div style="height: 32px;"></div>
    <a href="/">
        <img class="icon"/>
    </a>
        <h1 style='color: #FFFFF0; text-align: center;'>Access restricted.</h1>
    </body>
