<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style-frontend.css' />
    </head>
    <body>
        <a href="/app/lesfleurs"><img class="icon"/></a>
        <h1 style="text-align:center">Access restricted.</h1>
    </body>
