<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='../stylesheets/stylenoir.css' />
  </head>
  <body style="background-color: black;">
    <img class="icon"/>
    <div style="text-align: right; color: white; font-size: 32; opacity:0.6" onclick="document.location='/logout'">X</div>
    <script src="/pita.js"></script>
</body>
</html>

