<html>
  <head>
    <title>Pita</title>
    <link rel='stylesheet' href='../stylesheets/stylenoir.css' />
	  </head>
  <body style="background-image:url('../../images/bg-black.jpg')" >
    <a href="/">
    <img class="icon"/>
    </a>
    <div style="height: 32px;"></div>
    <h1 style='color: #FFFFF0;text-align: center;'><%= route %> <%= error %></h1>
    <h2 style='color: #FFFFF0;text-align: center;'><%= error.status %></h2>
</body>
</html>

